{
    "openapi": "3.0.1",
    "info": {
        "title": "User Management",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.peoplesafe.io/user-management"
        }
    ],
    "paths": {
        "/person/create": {
            "post": {
                "tags": [
                    "Person"
                ],
                "summary": "Create Person",
                "description": "Endpoint to create a Person in Nexus.\r\nA Person is the main entity in Nexus.",
                "operationId": "person-api_post_person_create",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePersonRequest"
                            },
                            "example": {
                                "person": {
                                    "userReference": "string",
                                    "emailAddress": "string",
                                    "firstName": "string",
                                    "lastName": "string",
                                    "hasPortalAccess": true,
                                    "jobTitle": "string",
                                    "dateOfBirth": "string",
                                    "sexAssignedAtBirth": "string",
                                    "roles": [
                                        0
                                    ],
                                    "codeWord": "string",
                                    "pin": 0,
                                    "contactPhoneNumbers": [
                                        {
                                            "type": 0,
                                            "number": "string",
                                            "isPrimary": true
                                        }
                                    ],
                                    "emergencyContacts": [
                                        {
                                            "firstName": "string",
                                            "lastName": "string",
                                            "relationship": "string",
                                            "phoneNumber": "string"
                                        }
                                    ],
                                    "assignedSubscriptionType": 0,
                                    "assignedTeam": {
                                        "reference": "string"
                                    }
                                },
                                "withoutActivation": false
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePersonRequest"
                            },
                            "example": {
                                "person": {
                                    "userReference": "string",
                                    "emailAddress": "string",
                                    "firstName": "string",
                                    "lastName": "string",
                                    "hasPortalAccess": true,
                                    "jobTitle": "string",
                                    "dateOfBirth": "string",
                                    "sexAssignedAtBirth": "string",
                                    "roles": [
                                        0
                                    ],
                                    "codeWord": "string",
                                    "pin": 0,
                                    "contactPhoneNumbers": [
                                        {
                                            "type": 0,
                                            "number": "string",
                                            "isPrimary": true
                                        }
                                    ],
                                    "emergencyContacts": [
                                        {
                                            "firstName": "string",
                                            "lastName": "string",
                                            "relationship": "string",
                                            "phoneNumber": "string"
                                        }
                                    ],
                                    "assignedSubscriptionType": 0,
                                    "assignedTeam": {
                                        "reference": "string"
                                    }
                                },
                                "withoutActivation": false
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePersonRequest"
                            },
                            "example": {
                                "person": {
                                    "userReference": "string",
                                    "emailAddress": "string",
                                    "firstName": "string",
                                    "lastName": "string",
                                    "hasPortalAccess": true,
                                    "jobTitle": "string",
                                    "dateOfBirth": "string",
                                    "sexAssignedAtBirth": "string",
                                    "roles": [
                                        0
                                    ],
                                    "codeWord": "string",
                                    "pin": 0,
                                    "contactPhoneNumbers": [
                                        {
                                            "type": 0,
                                            "number": "string",
                                            "isPrimary": true
                                        }
                                    ],
                                    "emergencyContacts": [
                                        {
                                            "firstName": "string",
                                            "lastName": "string",
                                            "relationship": "string",
                                            "phoneNumber": "string"
                                        }
                                    ],
                                    "assignedSubscriptionType": 0,
                                    "assignedTeam": {
                                        "reference": "string"
                                    }
                                },
                                "withoutActivation": false
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePersonRequest"
                            },
                            "example": {
                                "person": {
                                    "userReference": "string",
                                    "emailAddress": "string",
                                    "firstName": "string",
                                    "lastName": "string",
                                    "hasPortalAccess": true,
                                    "jobTitle": "string",
                                    "dateOfBirth": "string",
                                    "sexAssignedAtBirth": "string",
                                    "roles": [
                                        0
                                    ],
                                    "codeWord": "string",
                                    "pin": 0,
                                    "contactPhoneNumbers": [
                                        {
                                            "type": 0,
                                            "number": "string",
                                            "isPrimary": true
                                        }
                                    ],
                                    "emergencyContacts": [
                                        {
                                            "firstName": "string",
                                            "lastName": "string",
                                            "relationship": "string",
                                            "phoneNumber": "string"
                                        }
                                    ],
                                    "assignedSubscriptionType": 0,
                                    "assignedTeam": {
                                        "reference": "string"
                                    }
                                },
                                "withoutActivation": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPersonByIdResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPersonByIdResponse"
                                },
                                "example": {
                                    "person": {
                                        "id": "string",
                                        "userReference": "string",
                                        "emailAddress": "string",
                                        "firstName": "string",
                                        "lastName": "string",
                                        "hasPortalAccess": true,
                                        "jobTitle": "string",
                                        "dateOfBirth": "string",
                                        "sexAssignedAtBirth": "string",
                                        "roles": [
                                            0
                                        ],
                                        "codeWord": "string",
                                        "pin": "string",
                                        "contactPhoneNumbers": [
                                            {
                                                "type": 0,
                                                "number": "string",
                                                "isPrimary": true
                                            }
                                        ],
                                        "emergencyContacts": [
                                            {
                                                "firstName": "string",
                                                "lastName": "string",
                                                "relationship": "string",
                                                "phoneNumber": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPersonByIdResponse"
                                },
                                "example": {
                                    "person": {
                                        "id": "string",
                                        "userReference": "string",
                                        "emailAddress": "string",
                                        "firstName": "string",
                                        "lastName": "string",
                                        "hasPortalAccess": true,
                                        "jobTitle": "string",
                                        "dateOfBirth": "string",
                                        "sexAssignedAtBirth": "string",
                                        "roles": [
                                            0
                                        ],
                                        "codeWord": "string",
                                        "pin": "string",
                                        "contactPhoneNumbers": [
                                            {
                                                "type": 0,
                                                "number": "string",
                                                "isPrimary": true
                                            }
                                        ],
                                        "emergencyContacts": [
                                            {
                                                "firstName": "string",
                                                "lastName": "string",
                                                "relationship": "string",
                                                "phoneNumber": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/person/{identifier}/delete": {
            "delete": {
                "tags": [
                    "Person"
                ],
                "summary": "Delete Person by Identifier",
                "description": "Endpoint to delete a person using PersonId from Nexus or Identifier (userReference).",
                "operationId": "person-api_delete_person_-identifier-_delete",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "PersonId in Nexus or Identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/person/{identifier}/archive": {
            "put": {
                "tags": [
                    "Person"
                ],
                "summary": "Archive Person by Identifier",
                "description": "Endpoint to archive a person using PersonId from Nexus or Identifier (userReference).",
                "operationId": "person-api_put_person_-identifier-_archive",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Person Id in Nexus or Identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/person/{identifier}/update": {
            "put": {
                "tags": [
                    "Person"
                ],
                "summary": "Update Person",
                "description": "Endpoint to update a person in Nexus.\r\nA Person is the main entity in Nexus.",
                "operationId": "person-api_put_person_-identifier-_update",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Person Id in Nexus or Identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePersonRequest"
                            },
                            "example": {
                                "person": {
                                    "userReference": "string",
                                    "firstName": "string",
                                    "lastName": "string",
                                    "hasPortalAccess": true,
                                    "jobTitle": "string",
                                    "dateOfBirth": "string",
                                    "sexAssignedAtBirth": "string",
                                    "roles": [
                                        0
                                    ],
                                    "codeWord": "string",
                                    "pin": 0,
                                    "contactPhoneNumbers": [
                                        {
                                            "type": 0,
                                            "number": "string",
                                            "isPrimary": true
                                        }
                                    ],
                                    "emergencyContacts": [
                                        {
                                            "firstName": "string",
                                            "lastName": "string",
                                            "relationship": "string",
                                            "phoneNumber": "string"
                                        }
                                    ]
                                },
                                "withoutActivation": false
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePersonRequest"
                            },
                            "example": {
                                "person": {
                                    "userReference": "string",
                                    "firstName": "string",
                                    "lastName": "string",
                                    "hasPortalAccess": true,
                                    "jobTitle": "string",
                                    "dateOfBirth": "string",
                                    "sexAssignedAtBirth": "string",
                                    "roles": [
                                        0
                                    ],
                                    "codeWord": "string",
                                    "pin": 0,
                                    "contactPhoneNumbers": [
                                        {
                                            "type": 0,
                                            "number": "string",
                                            "isPrimary": true
                                        }
                                    ],
                                    "emergencyContacts": [
                                        {
                                            "firstName": "string",
                                            "lastName": "string",
                                            "relationship": "string",
                                            "phoneNumber": "string"
                                        }
                                    ]
                                },
                                "withoutActivation": false
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePersonRequest"
                            },
                            "example": {
                                "person": {
                                    "userReference": "string",
                                    "firstName": "string",
                                    "lastName": "string",
                                    "hasPortalAccess": true,
                                    "jobTitle": "string",
                                    "dateOfBirth": "string",
                                    "sexAssignedAtBirth": "string",
                                    "roles": [
                                        0
                                    ],
                                    "codeWord": "string",
                                    "pin": 0,
                                    "contactPhoneNumbers": [
                                        {
                                            "type": 0,
                                            "number": "string",
                                            "isPrimary": true
                                        }
                                    ],
                                    "emergencyContacts": [
                                        {
                                            "firstName": "string",
                                            "lastName": "string",
                                            "relationship": "string",
                                            "phoneNumber": "string"
                                        }
                                    ]
                                },
                                "withoutActivation": false
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePersonRequest"
                            },
                            "example": {
                                "person": {
                                    "userReference": "string",
                                    "firstName": "string",
                                    "lastName": "string",
                                    "hasPortalAccess": true,
                                    "jobTitle": "string",
                                    "dateOfBirth": "string",
                                    "sexAssignedAtBirth": "string",
                                    "roles": [
                                        0
                                    ],
                                    "codeWord": "string",
                                    "pin": 0,
                                    "contactPhoneNumbers": [
                                        {
                                            "type": 0,
                                            "number": "string",
                                            "isPrimary": true
                                        }
                                    ],
                                    "emergencyContacts": [
                                        {
                                            "firstName": "string",
                                            "lastName": "string",
                                            "relationship": "string",
                                            "phoneNumber": "string"
                                        }
                                    ]
                                },
                                "withoutActivation": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPersonByIdResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPersonByIdResponse"
                                },
                                "example": {
                                    "person": {
                                        "id": "string",
                                        "userReference": "string",
                                        "emailAddress": "string",
                                        "firstName": "string",
                                        "lastName": "string",
                                        "hasPortalAccess": true,
                                        "jobTitle": "string",
                                        "dateOfBirth": "string",
                                        "sexAssignedAtBirth": "string",
                                        "roles": [
                                            0
                                        ],
                                        "codeWord": "string",
                                        "pin": "string",
                                        "contactPhoneNumbers": [
                                            {
                                                "type": 0,
                                                "number": "string",
                                                "isPrimary": true
                                            }
                                        ],
                                        "emergencyContacts": [
                                            {
                                                "firstName": "string",
                                                "lastName": "string",
                                                "relationship": "string",
                                                "phoneNumber": "string"
                                            }
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPersonByIdResponse"
                                },
                                "example": {
                                    "person": {
                                        "id": "string",
                                        "userReference": "string",
                                        "emailAddress": "string",
                                        "firstName": "string",
                                        "lastName": "string",
                                        "hasPortalAccess": true,
                                        "jobTitle": "string",
                                        "dateOfBirth": "string",
                                        "sexAssignedAtBirth": "string",
                                        "roles": [
                                            0
                                        ],
                                        "codeWord": "string",
                                        "pin": "string",
                                        "contactPhoneNumbers": [
                                            {
                                                "type": 0,
                                                "number": "string",
                                                "isPrimary": true
                                            }
                                        ],
                                        "emergencyContacts": [
                                            {
                                                "firstName": "string",
                                                "lastName": "string",
                                                "relationship": "string",
                                                "phoneNumber": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/person/{identifier}/assignapp": {
            "put": {
                "tags": [
                    "Person"
                ],
                "summary": "Assign app subscription to Person.",
                "description": "To assign app subscripton to a person using PersonId in Nexus or UserReference.",
                "operationId": "customer-api_put_person_-identifier-_assignapp",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Person Id in Nexus or UserReference.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request containing subscription type [1 = SOS, 2 = Pro].",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignSubscriptionApiRequest"
                            },
                            "example": {
                                "subscriptionType": 0
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignSubscriptionApiRequest"
                            },
                            "example": {
                                "subscriptionType": 0
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignSubscriptionApiRequest"
                            },
                            "example": {
                                "subscriptionType": 0
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignSubscriptionApiRequest"
                            },
                            "example": {
                                "subscriptionType": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/team/{identifier}/users": {
            "get": {
                "tags": [
                    "Team"
                ],
                "summary": "Get team users by identifier",
                "description": "Returns team members based on Group ID in Nexus or identifier.",
                "operationId": "queries-api_get-team-users",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Team ID in Nexus or identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains users of the team.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/teamUsersResponse"
                                },
                                "example": {
                                    "teamUsers": [
                                        {
                                            "identifier": "string",
                                            "id": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/people": {
            "get": {
                "tags": [
                    "Person"
                ],
                "summary": "Get Persons from nexus.",
                "description": "Returns the People from Nexus.",
                "operationId": "queries-api_get-people",
                "parameters": [
                    {
                        "name": "Page",
                        "in": "query",
                        "description": "Page to return.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Size of the page to return.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "FirstName",
                        "in": "query",
                        "description": "Persons first name to filter by.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "LastName",
                        "in": "query",
                        "description": "Persons last name to filter by.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Email",
                        "in": "query",
                        "description": "Persons e-mail address to filter by.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PhoneNumber",
                        "in": "query",
                        "description": "Persons phone number to filter by.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains list of persons details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/getPersonsResponse"
                                },
                                "example": {
                                    "count": 0,
                                    "persons": [
                                        {
                                            "id": "string",
                                            "userReference": "string",
                                            "emailAddress": "string",
                                            "firstName": "string",
                                            "lastName": "string",
                                            "hasPortalAccess": true,
                                            "jobTitle": "string",
                                            "dateOfBirth": "string",
                                            "sexAssignedAtBirth": "string",
                                            "roles": [
                                                0
                                            ],
                                            "codeWord": "string",
                                            "pin": 0,
                                            "contactPhoneNumbers": [
                                                {
                                                    "type": 0,
                                                    "number": "string",
                                                    "isPrimary": true
                                                }
                                            ],
                                            "emergencyContacts": [
                                                {
                                                    "firstName": "string",
                                                    "lastName": "string",
                                                    "relationship": "string",
                                                    "phoneNumber": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/person/{identifier}": {
            "get": {
                "tags": [
                    "Person"
                ],
                "summary": "Get Person by Identifier",
                "description": "Returns person details based on person ID in Nexus or Identifier.",
                "operationId": "queries-api_get-person-by-identifier",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Person ID in nexus or Identifier.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains person details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/getPersonResponse"
                                },
                                "example": {
                                    "person": {
                                        "id": "string",
                                        "userReference": "string",
                                        "emailAddress": "string",
                                        "firstName": "string",
                                        "lastName": "string",
                                        "hasPortalAccess": true,
                                        "jobTitle": "string",
                                        "dateOfBirth": "string",
                                        "sexAssignedAtBirth": "string",
                                        "roles": [
                                            0
                                        ],
                                        "codeWord": "string",
                                        "pin": 0,
                                        "contactPhoneNumbers": [
                                            {
                                                "type": 0,
                                                "number": "string",
                                                "isPrimary": true
                                            }
                                        ],
                                        "emergencyContacts": [
                                            {
                                                "firstName": "string",
                                                "lastName": "string",
                                                "relationship": "string",
                                                "phoneNumber": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/{identifier}": {
            "get": {
                "tags": [
                    "ReportingGroup"
                ],
                "summary": "Get group details by identifier",
                "description": "Returns group details based on Group ID in Nexus or identifier.",
                "operationId": "queries-api_get-group-details",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Group ID in Nexus or identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains details of the group.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/groupDetailsResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "identifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/{identifier}/members": {
            "get": {
                "tags": [
                    "ReportingGroup"
                ],
                "summary": "Get group members by identifier",
                "description": "Returns group members based on Group ID in Nexus or identifier.",
                "operationId": "queries-api_get-group-members",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Group ID in Nexus or identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains members of the group.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/groupMembersResponse"
                                },
                                "example": {
                                    "teams": [
                                        {
                                            "id": "string",
                                            "teamReference": "string"
                                        }
                                    ],
                                    "groups": [
                                        {
                                            "id": "string",
                                            "groupReference": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/team/{identifier}": {
            "get": {
                "tags": [
                    "Team"
                ],
                "summary": "Get team details by identifier",
                "description": "Returns team details based on Team ID in Nexus or identifier.",
                "operationId": "queries-api_get-team-details",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Team ID in Nexus or identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains details of the team.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/teamDetailsResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "identifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/create": {
            "post": {
                "tags": [
                    "ReportingGroup"
                ],
                "summary": "Create group.",
                "description": "Endpoint to create a group in Nexus.",
                "operationId": "team-api_post_group_create",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateReportingGroupResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateReportingGroupResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateReportingGroupResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/update": {
            "put": {
                "tags": [
                    "ReportingGroup"
                ],
                "summary": "Update group.",
                "description": "Endpoint to update a group in Nexus.",
                "operationId": "team-api_put_group_update",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateReportingGroupResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateReportingGroupResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateReportingGroupResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/delete": {
            "delete": {
                "tags": [
                    "ReportingGroup"
                ],
                "summary": "Deletes group.",
                "description": "Endpoint to delete a group in Nexus.",
                "operationId": "team-api_delete_group_delete",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string"
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string"
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string"
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteReportingGroupRequest"
                            },
                            "example": {
                                "group": {
                                    "groupIdentifier": "string"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/manager/assign": {
            "put": {
                "tags": [
                    "ReportingGroup"
                ],
                "summary": "Assigns manager to the group.",
                "description": "Endpoint to assign a manager to the group in Nexus.",
                "operationId": "team-api_put_group_manager_assign",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignManagerToGroupRequest"
                            },
                            "example": {
                                "groupIdentifier": "string",
                                "userIdentifier": "string"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignManagerToGroupRequest"
                            },
                            "example": {
                                "groupIdentifier": "string",
                                "userIdentifier": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignManagerToGroupRequest"
                            },
                            "example": {
                                "groupIdentifier": "string",
                                "userIdentifier": "string"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignManagerToGroupRequest"
                            },
                            "example": {
                                "groupIdentifier": "string",
                                "userIdentifier": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssignManagerToGroupResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssignManagerToGroupResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssignManagerToGroupResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "groupIdentifier": "string",
                                    "name": "string",
                                    "description": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/member/assign": {
            "put": {
                "tags": [
                    "ReportingGroup"
                ],
                "summary": "Assigns team or group to the group.",
                "description": "Endpoint to assign a team or group to another group.",
                "operationId": "team-api_put_group_member_assign",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignGroupMemberRequest"
                            },
                            "example": {
                                "teamIdentifier": "string",
                                "groupIdentifier": "string"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignGroupMemberRequest"
                            },
                            "example": {
                                "teamIdentifier": "string",
                                "groupIdentifier": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignGroupMemberRequest"
                            },
                            "example": {
                                "teamIdentifier": "string",
                                "groupIdentifier": "string"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignGroupMemberRequest"
                            },
                            "example": {
                                "teamIdentifier": "string",
                                "groupIdentifier": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssignGroupMemberResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssignGroupMemberResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "groupIdentifier": "string",
                                    "name": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssignGroupMemberResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "groupIdentifier": "string",
                                    "name": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "errorId": "string",
                                    "content": {
                                        "message": "string",
                                        "code": "string",
                                        "stackTrace": "string",
                                        "field": "string",
                                        "errors": [
                                            "string"
                                        ],
                                        "additionalDescription": {}
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
[...]
